<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.display"
    android:installLocation="preferExternal"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.SYSTEM_OVERLAY_WINDOW"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.TD.Display.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.TD.Display.MenuActivity"
            android:label="@string/menu" 
            android:configChanges="orientation">
            <intent-filter>
                <action android:name="com.TD.Display.MenuActivity.MENU" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.TD.Display.DTCActivity"
            android:label="@string/DTC" >
            <intent-filter>
                <action android:name="com.TD.Display.DTCActivity.DTC" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.TD.Display.DatastramActivity"
            android:label="@string/DS" >
            <intent-filter>
                <action android:name="com.TD.Display.DatastramActivity.DATASTREAM" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.TD.Display.ECUInfoActivity"
            android:label="@string/ECUINFO" >
            <intent-filter>
                <action android:name="com.TD.Display.ECUInfoActivity.ECUINFO" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.TD.Display.DefaultActivity"
            android:label="@string/DEFAULT" >
            <intent-filter>
                <action android:name="com.TD.Display.DefaultActivity.DEFAULT" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        <activity
            android:name="com.TD.Display.MultiSelectActivity"
            android:label="@string/DEFAULT" >
            <intent-filter>
                <action android:name="com.TD.Display.MultiSelectActivity.MULTISELECT" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <service android:name="com.TD.Controller.Controller" >
            <intent-filter>
                <action android:name="com.TD.Display.DiagnoseService.SERVICE" />
            </intent-filter>
        </service>
    </application>

</manifest>